.PageComponent {
  display: flex;
  flex-direction: column;

  margin-top: 100px;
  

  z-index: 1;
  flex-grow: 1;
  position: relative;
  align-items: left;
  overflow: auto;
  

  box-sizing: border-box;

  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgba(255, 255, 255, 0.9);
  padding: 3px 2px;
  min-height: 1em;
  /* color: rgba(255, 255, 255, 0.9); */
  /* -webkit-text-fill-color: rgba(255, 255, 255, 0.2); */
  cursor: text;
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

.headerContentArea{
  margin-left: 20%;
  margin-right: 20%;
  max-width: 80%;
  width: 80%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: text;
}

.headerContentArea:empty:before{
  content:attr(data-placeholder);
  color:gray
}

.mainContentArea{
  margin-left: 20%;
  margin-right: 20%;
  flex-shrink: 0;
  flex-grow: 1;
  width: 80%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.9);
}

.contentArea:empty::before {
  content:attr(data-placeholder);
  color:gray
}

.contentButtons:hover {
  color: rgb(187, 97, 97);
}

.mainContentArea:hover~.addContentButton {
  background-color: rgba(128, 128, 128, 0.493);
  display: block;
}

.addContentButton {
  display: none;
}
  
.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}
