body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 10em;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(207, 196, 196);
    overflow-x: hidden;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    
  }
  
  .sidenav a {
    padding: 0.0001rem 0.0001rem 0.0001rem 0.0001rem;
    text-decoration: none;
    font-size: 1px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 20em; 
  }
  
  @media screen and (max-height: 45em) {
    .sidenav {padding-top: 15em;}
    .sidenav a {font-size: 18em;}
  }  