body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    min-width: 14em;
    background-color: rgb(80, 80, 80);
    height:100vh;
    width:15vw;
    float:left;

    display: flex;
    flex-direction: column;
  }

  .addbtn{
    /* height:5px;
    width: 5px; */
    color: rgb(221, 44, 21);
    background-color: rgb(114, 116, 117);
    font-size: 10px;
  }
  .addinput{
    height: 1em;
    width: 5em;
  }
  
  .sidenav a {
    padding: 1em 1em 1em 1em;
    font-size: 0.00001px;
    color: #4fa508;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 1em; 
  }
  
  /* @media screen and (max-height: 60em) {
    .sidenav {padding-top: 5em;}
    .sidenav a {font-size: 1em;}
  }   */