body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 200em;
    width: 14em;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 25, 25);
    overflow-x: hidden;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    
  }
  .addbtn{
    /* height:5px;
    width: 5px; */
    color: rgb(221, 44, 21);
    background-color: darkolivegreen;
    font-size: 10px;
  }
  .addinput{
    height: 1em;
    width: 5em;
  }
  
  .sidenav a {
    padding: 1em 1em 1em 1em;
    font-size: 0.00001px;
    color: #4fa508;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 1em; 
  }
  
  @media screen and (max-height: 100em) {
    .sidenav {padding-top: 5em;}
    .sidenav a {font-size: 1em;}
  }  